* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-color: #fa6980;
  --title-link: #fa6980;
  --white-color: #fff;
  --primary-color: #a6adb4;
}

html {
  font-family: "Acumin Pro", sans-serif;
}
