.header {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f8f9;
}
.header__logo {
  color: #fa6980;
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
}

.list__items {
  list-style: none;
  display: flex;
  align-items: center;
}
.item {
  margin-right: 20px;
  font-size: 11px;
  font-weight: bold;
  opacity: 0.5;
}
li:first-child {
  opacity: 1;
}
.avatar > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 20px;
}
.header__mobile {
  display: none;
}
.latest-news {
  display: flex;
}
.large-news {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  height: 600px;
  width: 58.3%;
  background: url("../image/main1.jpg") top center / cover no-repeat;
}
.new-post {
  font-size: 24px;
  width: 660px;
  height: 250px;
}
.new-post__description {
  font-size: 16px;
}
hr {
  margin: 40px 0;
  color: var(--white-color);
}
.small__title {
  margin-bottom: 10px;
}
.new-post__description {
  line-height: 26px;
  margin-bottom: 30px;
}
.new-post__button {
  width: 134px;
  height: 46px;
  background-color: var(--button-color);
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 11px;
  font-weight: bold;
  color: var(--white-color);
}
.small-news {
  width: 41.7%;
  display: flex;
}
.more-news {
  margin: 100px 120px 0 100px;
}

.more {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #ebeded;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.icon__arrow--left {
  font-size: 14px;
  opacity: 0.3;
  margin-right: 20px;
}
.icon__arrow--right {
  font-size: 14px;
}
.small-news__title {
  margin-top: 40px;
  color: var(--title-link);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.small-news__article-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.small-news__description {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.small-news__time-icon {
  font-size: 13px;
  color: var(--primary-color);
}
.small-news__time-icon > i {
  margin-right: 10px;
}

/*-------------------------------------------------
----------------------MAIN CONTAINER---------------
---------------------------------------------------*/
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.title-trending {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0;
}

.post-trending__img {
  background-size: cover;
  padding-top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.post-trending__title {
  font-size: 16px;
  font-weight: bold;
  margin: 40px 0 10px 40px;
}
.post-trending__description {
  font-size: 13px;
  line-height: 23px;
  color: var(--primary-color);
  margin: 0 40px 10px 40px;
}
.post-trending__time {
  font-size: 13px;
  color: var(--primary-color);
  margin: 0 40px 10px 40px;
}
.post-trending__time > i {
  font-size: 14px;
  margin-right: 10px;
}

.city-post {
  background: url(../image/city.jpg) top center / cover no-repeat;
  height: 430px;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
}

.city {
  margin-left: 40px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
}
.large-article {
  margin-top: 230px;
  margin-left: 40px;
}
.travel-post {
  background: url(../image/travel.jpg) top center / cover no-repeat;
  height: 430px;
  border-radius: 6px;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 100px;
}
.large-article__title {
  font-size: 24px;
  margin-bottom: 10px;
}
.large-article__description {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
  height: 30px;
  overflow: hidden;
}
.post-happening__time {
  font-size: 13px;
  color: var(--primary-color);
}
.post-happening__time > i {
  font-size: 14px;
  margin-right: 10px;
  color: var(--primary-color);
}
.travel {
  margin-left: 40px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
}

.small-post__image {
  background-size: cover;
  padding-top: 50%;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 5px;
}
.small-post__title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.post-small__time {
  font-size: 13px;
  color: var(--primary-color);
  margin-bottom: 40px;
}
.post-small__time > i {
  font-size: 14px;
  margin-right: 10px;
}
.small-post__author {
  text-decoration: underline;
  margin-left: 3px;
}

/*-----------------------------------------------
----------------------FOOTER---------------------
-------------------------------------------------*/

footer {
  width: 100%;
  background-color: var(--primary-color);
  padding-bottom: 60px;
}
.main-footer {
  padding-top: 56px;
}
.footer-logo {
  font-size: 13px;
  font-weight: bold;
  color: var(--white-color);
}
.footer-link {
  flex-direction: column;
  color: #cbd0d3;
  line-height: 20px;
  font-size: 13px;
  font-weight: bold;
}
.footer-input {
  position: relative;
}
.footer-input > input {
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background-color: var(--primary-color);
  width: 100%;
  height: 40px;
  padding: 14px 0 16px 20px;
}
.footer-input > input::placeholder {
  color: #cbd0d3;
  font-size: 13px;
  opacity: 0.5;
}
.footer-input > i {
  position: absolute;
  font-size: 16px;
  top: 0;
  right: 0;
  color: var(--white-color);
}
.icon {
  padding: 10px;
  min-width: 40px;
}
.footer-input__text {
  margin-top: 16px;
  font-size: 11px;
  color: #cbd0d3;
}
.footer-icon {
  font-size: 16px;
  color: var(--white-color);
  justify-content: space-around;
}
